body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

div#navi {
    height: 30px;
    background: #222;
    color: #fff;
}

div#navi ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

div#navi ul li {
    display: inline-block;
    margin-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
}

div#navi ul li.right {
    float: right;
}

div#main {
    height: 400px;
    background: #000;
    color: #ddd;
    padding: 7px;
}

pre {
    margin: 0;
    padding: 0;
    font-family: "Consolas";
    font-size: 13px;
}
